# This is used to determine the image to use unless explicitly patching
output "cluster_image" {
  description = "The id of the image used to build the cluster nodes"
  value       = "{{ cluster_previous_image | default(cluster_image) }}"
}

output "cluster_access_ip" {
  description = "The floating IP associated with the appliance"
  value       = "${openstack_networking_floatingip_v2.app-fip.address}"
}
