# This is used to determine the image to use unless explicitly patching
output "cluster_image" {
  description = "The id of the image used to build the cluster nodes"
  value       = "{{ cluster_previous_image | default(cluster_image) }}"
}

output "cluster_gateway_ip" {
  description = "The IP address of the gateway used to contact the cluster nodes"
  value       = "{{ cluster_floating_ip_address }}"
}

output "cluster_nodes" {
  description = "A list of the nodes in the cluster from which an Ansible inventory will be populated"
  value       = [
      {
        name          = "${openstack_compute_instance_v2.cluster_server.name}"
        ip            = "{{ cluster_floating_ip_address }}"
        groups        = ["instances"],
        facts  = {
          openstack_project_id = "${data.openstack_identity_auth_scope_v3.scope.project_id}"
        }
      }
    ]
}
