##
# Use the cloud "openstack" from the clouds.yaml file.
#
provider "openstack" {
  cloud = "{{gc_cloud}}"
}

##
# Create an user RNIC network
#
resource "openstack_networking_network_v2" "user_rnic_net" {
  name       = "{{ cluster_name }}-{{cluster_id}}-rnic"
  mtu        = 1500
  dns_domain = "{{cluster_name}}.{{dns_base}}"
  # avoid connection tracking in ovn
  port_security_enabled = false
  tags       = [ "user-rnic", "{{cluster_id}}", "{{cluster_name}}", "{{appliance_user}}" ]
}

resource "openstack_networking_subnet_v2" "user_rnic_subnet" {
  name       = "{{ cluster_name }}-{{cluster_id}}-rnic-net"
  network_id = openstack_networking_network_v2.user_rnic_net.id
  cidr       = "10.5.0.0/16"
  ip_version = 4
  tags       = [ "user-rnic", "{{cluster_id}}", "{{cluster_name}}", "{{appliance_user}}" ]
  no_gateway = true
  allocation_pool {
  start = "10.5.{{cidr_hint}}.100"
  end   = "10.5.{{cidr_hint}}.199"
  }
}

##
# RBAC the user RNIC network into the user's project
resource "openstack_networking_rbac_policy_v2" "rbac_policy_rnic_user" {
  action        = "access_as_shared"
  object_id     = "${openstack_networking_network_v2.user_rnic_net.id}"
  object_type   = "network"
  target_tenant = "{{ appliance_project }}"
}

##
# Shuffle - Assign IPUMs to project
module "ipum-user-allocs" {
  source     = "git::ssh://git@gitlab.com/openstack-vipu/terraform-modules/vpod-ironic-ipums.git?ref=SYSOP-1000"
  vpod_name  = "{{cluster_name}}"
  cluster_name = "{{gc_cloud}}"
  rnic_network_id = "${openstack_networking_network_v2.user_rnic_net.id}"
  assigned_ipums = {{assigned_ipums_list | tojson }}
  ipum_yaml    = "ipums.yml"
  az = "gbnwp-cl2-general"
  depends_on = [
   openstack_networking_subnet_v2.user_rnic_subnet
  ]
}

